{% extends "base.html" %}

{% block title %}User Details{% endblock %}

{% block content %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">USER_ID</th>
			<th scope="col">USER_NAME</th>
			<th scope="col">AGE</th>
		</tr>
	</thead>
	{% for USER in user_list: %}
	<tr>
		<td>{{ USER["USER_ID"] }}</td>
		<td>{{ USER["USER_NAME"] }}</td>
		<td>{{ USER["AGE"] }}</td>
		<td>
			<a class="btn btn-warning btn-sm" href="./update_user/{{USER.USER_ID}}"><i class="fa fa-pencil"></i></a>
			<a class="btn btn-danger btn-sm" href="./delete_user/{{USER.USER_ID}}"><i class="fa fa-trash"></i></a>
		</td>

	</tr>
	{% endfor %}
</table>
<a class="btn btn-primary" href="./create_user"><i class="fa fa-plus"></i></a>
{% endblock %}
